/* CONTACT */
.response {
  margin-bottom : 30px;
  padding: 8px 10px;
  border-radius: 3px;
  color : white;
}

.error{
  background-color: #e57373;
}

.success{
  background-color: #66BB6A;
}

.required {
  color : #e57373;
}

.form-instructions {
  font-size : .8rem;
  color : #666
}

/* MAP */
#mapCont {
  position : relative;
}

#mapCont img {
  position : relative;
  display : block;
  width : 100%;
  height : auto;
}

#pointer {
  position : absolute;
  transform : translate(-50%, -50%);
  z-index : 2;
  width : 5%; height : 5%;
  background : url('../content/images/map_pointer.png') no-repeat;
  background-size : contain;
}

/* Animaux */
.animal-icon {
  position : absolute;
  z-index : 1;
  width : 6%;
  height : 6%;
}

.animal-icon img {
  filter : grayscale(80%);
  transition : filter 1s;
}

.animal-icon.active {
  display : block;
  animation : pulse 1.4s infinite
}

.animal-icon.active img {
  filter : grayscale(0%);
}

@keyframes pulse {
  0% {transform: scale(1)}
  50% {transform: scale(1.2)}
  100% {transform: scale(1)}
}