{
  "name": "zoopark",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7883,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": true,
      "url": "http://localhost:8888/ingrwf05/ingrwf05_ei/zoopark/"
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "Zoopark/wp-content/themes/zoopark",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "host": "ftp.killer-cepegra.xyz",
      "port": 21,
      "user": "u118090707.skills3",
      "password": "cepegra"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "archive-animal.php",
        "ctime": "2017-07-18T06:39:08.000Z",
        "mtime": "2017-07-18T06:39:08.000Z",
        "size": 1202
      },
      {
        "file": "archive-billet.php",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 1613
      },
      {
        "file": "content/images/background1.jpg",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 143724
      },
      {
        "file": "content/images/background2.jpg",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 83314
      },
      {
        "file": "content/images/background3.jpg",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 80554
      },
      {
        "file": "content/images/background_form.jpg",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 152129
      },
      {
        "file": "content/images/map_pointer.png",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 573
      },
      {
        "file": "content/images/map_pointer.svg",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 952
      },
      {
        "file": "content/images/map_zoning.png",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 23904
      },
      {
        "file": "content/images/map_zoning.svg",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 490155
      },
      {
        "file": "content/images/photo1.jpg",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 37294
      },
      {
        "file": "content/images/photo2.jpg",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 45189
      },
      {
        "file": "content/images/photo3.jpg",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 23304
      },
      {
        "file": "content/images/zoo-map.png",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 471476
      },
      {
        "file": "content/images/animals-icons/vg000.png",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 25680
      },
      {
        "file": "content/images/animals-icons/vg001.png",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 27345
      },
      {
        "file": "content/images/animals-icons/vg002.png",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 27336
      },
      {
        "file": "content/images/animals-icons/vg003.png",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 25663
      },
      {
        "file": "content/images/animals-icons/vg004.png",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 22073
      },
      {
        "file": "content/images/animals-icons/vg005.png",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 28153
      },
      {
        "file": "css/myStyle.css",
        "ctime": "2017-07-18T06:52:22.000Z",
        "mtime": "2017-07-18T06:52:22.000Z",
        "size": 1401
      },
      {
        "file": "css/styles.min.css",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 119309
      },
      {
        "file": "css/styles.min.css.map",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 42277
      },
      {
        "file": "fonts/canaro/2E822F_0_0.eot",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 42166
      },
      {
        "file": "fonts/canaro/2E822F_0_0.ttf",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 129260
      },
      {
        "file": "fonts/canaro/2E822F_0_0.woff",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 59326
      },
      {
        "file": "fonts/canaro/2E822F_0_0.woff2",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 42643
      },
      {
        "file": "fonts/canaro/2E822F_5_0.eot",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 39596
      },
      {
        "file": "fonts/canaro/2E822F_5_0.ttf",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 119216
      },
      {
        "file": "fonts/canaro/2E822F_5_0.woff",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 55810
      },
      {
        "file": "fonts/canaro/2E822F_5_0.woff2",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 40278
      },
      {
        "file": "fonts/canaro/2E822F_7_0.eot",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 38027
      },
      {
        "file": "fonts/canaro/2E822F_7_0.ttf",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 114996
      },
      {
        "file": "fonts/canaro/2E822F_7_0.woff",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 53843
      },
      {
        "file": "fonts/canaro/2E822F_7_0.woff2",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 39035
      },
      {
        "file": "fonts/canaro/2E822F_8_0.eot",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 41329
      },
      {
        "file": "fonts/canaro/2E822F_8_0.ttf",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 130012
      },
      {
        "file": "fonts/canaro/2E822F_8_0.woff",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 58583
      },
      {
        "file": "fonts/canaro/2E822F_8_0.woff2",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 41795
      },
      {
        "file": "fonts/canaro/2E822F_D_0.eot",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 40922
      },
      {
        "file": "fonts/canaro/2E822F_D_0.ttf",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 122516
      },
      {
        "file": "fonts/canaro/2E822F_D_0.woff",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 57419
      },
      {
        "file": "fonts/canaro/2E822F_D_0.woff2",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 41581
      },
      {
        "file": "fonts/flat-icon/flaticon.css",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 2601
      },
      {
        "file": "fonts/flat-icon/Flaticon.eot",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 29648
      },
      {
        "file": "fonts/flat-icon/flaticon.html",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 28061
      },
      {
        "file": "fonts/flat-icon/Flaticon.svg",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 249113
      },
      {
        "file": "fonts/flat-icon/Flaticon.ttf",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 29472
      },
      {
        "file": "fonts/flat-icon/Flaticon.woff",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 19416
      },
      {
        "file": "fonts/material-design-icons/LICENSE.txt",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 20164
      },
      {
        "file": "fonts/material-design-icons/Material-Design-Icons.eot",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 102112
      },
      {
        "file": "fonts/material-design-icons/Material-Design-Icons.svg",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 330095
      },
      {
        "file": "fonts/material-design-icons/Material-Design-Icons.ttf",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 101892
      },
      {
        "file": "fonts/material-design-icons/Material-Design-Icons.woff",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 101968
      },
      {
        "file": "fonts/material-design-icons/Material-Design-Icons.woff2",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 33220
      },
      {
        "file": "fonts/roboto/Roboto-Bold.eot",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 20966
      },
      {
        "file": "fonts/roboto/Roboto-Bold.ttf",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 127744
      },
      {
        "file": "fonts/roboto/Roboto-Bold.woff",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 62876
      },
      {
        "file": "fonts/roboto/Roboto-Bold.woff2",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 49976
      },
      {
        "file": "fonts/roboto/Roboto-Light.eot",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 20940
      },
      {
        "file": "fonts/roboto/Roboto-Light.ttf",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 126792
      },
      {
        "file": "fonts/roboto/Roboto-Light.woff",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 62316
      },
      {
        "file": "fonts/roboto/Roboto-Light.woff2",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 49380
      },
      {
        "file": "fonts/roboto/Roboto-Medium.eot",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 21364
      },
      {
        "file": "fonts/roboto/Roboto-Medium.ttf",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 127488
      },
      {
        "file": "fonts/roboto/Roboto-Medium.woff",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 62980
      },
      {
        "file": "fonts/roboto/Roboto-Medium.woff2",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 50224
      },
      {
        "file": "fonts/roboto/Roboto-Regular.eot",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 21320
      },
      {
        "file": "fonts/roboto/Roboto-Regular.ttf",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 126072
      },
      {
        "file": "fonts/roboto/Roboto-Regular.woff",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 61736
      },
      {
        "file": "fonts/roboto/Roboto-Regular.woff2",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 49236
      },
      {
        "file": "fonts/roboto/Roboto-Thin.eot",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 21659
      },
      {
        "file": "fonts/roboto/Roboto-Thin.ttf",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 127584
      },
      {
        "file": "fonts/roboto/Roboto-Thin.woff",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 61628
      },
      {
        "file": "fonts/roboto/Roboto-Thin.woff2",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 48524
      },
      {
        "file": "fonts/flat-icon/license/license.pdf",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 65214
      },
      {
        "file": "footer.php",
        "ctime": "2017-07-19T07:47:20.000Z",
        "mtime": "2017-07-19T07:47:20.000Z",
        "size": 3930
      },
      {
        "file": "front-page.php",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 5263
      },
      {
        "file": "functions.php",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 2045
      },
      {
        "file": "header.php",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 2691
      },
      {
        "file": "img/ZOOPARK-01.svg",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 1017
      },
      {
        "file": "img/ZOOPARK-02.svg",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 3375
      },
      {
        "file": "img/ZOOPARK-03.svg",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 3537
      },
      {
        "file": "index.php",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 4978
      },
      {
        "file": "js/init.js",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 2991
      },
      {
        "file": "js/materialize.js",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 281553
      },
      {
        "file": "js/materialize.min.js",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 131546
      },
      {
        "file": "page-contact.php",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 5900
      },
      {
        "file": "page-map.php",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 2281
      },
      {
        "file": "prepros.cfg",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 11559
      },
      {
        "file": "screenshot.png",
        "ctime": "2017-07-10T12:39:43.000Z",
        "mtime": "2017-07-10T12:39:42.000Z",
        "size": 31017
      },
      {
        "file": "search.php",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 932
      },
      {
        "file": "searchform.php",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 269
      },
      {
        "file": "single-billet.php",
        "ctime": "2017-07-18T06:28:38.000Z",
        "mtime": "2017-07-18T06:28:38.000Z",
        "size": 1615
      },
      {
        "file": "single.php",
        "ctime": "2017-07-19T08:56:42.000Z",
        "mtime": "2017-07-19T08:56:42.000Z",
        "size": 1142
      },
      {
        "file": "style.css",
        "ctime": "2017-07-10T12:43:04.000Z",
        "mtime": "2017-07-10T12:43:04.000Z",
        "size": 209
      },
      {
        "file": "backupHtml/contact.html",
        "ctime": "2017-07-18T06:37:00.000Z",
        "mtime": "2017-07-18T06:37:00.000Z",
        "size": 7073
      },
      {
        "file": "backupHtml/contenu.html",
        "ctime": "2017-07-18T06:37:02.000Z",
        "mtime": "2017-07-18T06:37:02.000Z",
        "size": 4955
      },
      {
        "file": "backupHtml/forms.html",
        "ctime": "2017-07-18T06:37:04.000Z",
        "mtime": "2017-07-18T06:37:04.000Z",
        "size": 7068
      },
      {
        "file": "backupHtml/index.html",
        "ctime": "2017-07-18T06:37:06.000Z",
        "mtime": "2017-07-18T06:37:06.000Z",
        "size": 8943
      },
      {
        "file": "backupHtml/mapzoo.html",
        "ctime": "2017-07-18T06:37:08.000Z",
        "mtime": "2017-07-18T06:37:08.000Z",
        "size": 4054
      },
      {
        "file": "single-animal.php",
        "ctime": "2017-07-18T07:14:26.000Z",
        "mtime": "2017-07-18T07:14:26.000Z",
        "size": 884
      },
      {
        "file": "category.php",
        "ctime": "2017-07-19T09:01:18.000Z",
        "mtime": "2017-07-19T09:01:18.000Z",
        "size": 695
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}